h1{
	text-align:center;
}

#container{
	text-align:center;
}

.blackbox{
	height: 25px;
	width: 25px;
	background-color: black;
	display: inline-block;
	margin:-3px;
}

.redbox{
	height: 25px;
	width: 25px;
	background-color: red;
	display: inline-block;
	margin:-3px;
}